<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Last Modified</th>
                            <th>ETag</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < objects.length; i++) { %>
                            <tr>
                                <td>
                                    <%= objects[i].Key %>
                                </td>
                                <td>
                                    <%= objects[i].LastModified %>
                                </td>
                                <td>
                                    <%= objects[i].ETag %>
                                </td>
                                <td>
                                    <%= objects[i].Size %>
                                </td>
                            </tr>
                            <%}-%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>