<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Last Modified</th>
                            <th>ETag</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each objects}}
                            <tr>
                                <td>
                                    {{ this.Key }}
                                </td>
                                <td>
                                    {{ this.LastModified }}
                                </td>
                                <td>
                                    {{ this.ETag }}
                                </td>
                                <td>
                                    {{ this.Size }}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>