<!doctype html>
<html lang="en">

<!-- Header -->
<%- include('partials/header') -%>
    <body class="layout-fluid">
        <div class="page">
            <!-- Navbar -->
            <%- include('partials/navbar') -%>
            <div class="page-wrapper">
                <!-- Page body -->
                <div class="page-body">
                    <div class="container-xl">
                        <% if (objects.length > 0) { %>
                            <%- include('partials/object-list') -%>
                        <% } else { %>
                            <%- include('partials/no-results') -%>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tabler Core -->
        <script src="/js/tabler-v1.0.0-beta16.min.js" defer></script>
    </body>
</html>